### Java ###
*.class
*.log
hs_err_pid*
replay_pid*

### IntelliJ ###
.idea/
*.iml
out/

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### Packaging ###
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### J2ME ###
.mtj.tmp/

